services:
  postgres:
    image: postgres:17
    ports:
      - "127.0.0.1:25432:5432"
    environment:
      POSTGRES_DB: aplobby
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U postgres
      interval: 1s
      timeout: 1s
      retries: 100

  valkey:
    image: valkey/valkey
    ports:
      - "127.0.0.1:26379:6379"
    healthcheck:
      test: valkey-cli ping
      interval: 1s
      timeout: 1s
      retries: 100

  vol-setup:
    image: debian
    user: "root"
    volumes:
      - ./cargo:/tmp/cargo
      - ./target:/builds/target
      - ./tmp/apworlds_index:/builds/apworlds_index
      - ./tmp/gen-output:/builds/gen-output
    command: chown -R ${USER_ID}:${GID} /tmp/cargo /builds

  lobby:
    tty: true
    build: taskcluster/docker/rust-builder
    volumes:
      - .:/builds/worker/checkout
      - ./target:/builds/target
      - ./tmp/apworlds_index:/builds/apworlds_index
      - ./tmp/gen-output:/builds/gen-output
      - ./cargo:/builds/cargo
    environment:
      CARGO_HOME: /builds/cargo
      CARGO_TARGET_DIR: /builds/target
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/aplobby
      VALKEY_URL: redis://valkey:6379?protocol=resp3
      APWORLDS_INDEX_DIR: /builds/apworlds_index
      APWORLDS_PATH: /builds/apworlds_index/worlds
      APWORLDS_INDEX_REPO_URL: https://github.com/ionium-ap/Archipelago-index.git
      RUST_LOG: debug
      YAML_VALIDATION_QUEUE_TOKEN: changeme
      GENERATION_QUEUE_TOKEN: changeme
      OPTIONS_GEN_QUEUE_TOKEN: changeme
      ROCKET_SECRET_KEY: "changemechangemechangemechangemechangeme1234"
      APWORLDS_INDEX_REPO_BRANCH: "main"
      ADMIN_TOKEN: changeme
      GENERATION_OUTPUT_DIR: "/builds/gen-output"
      ROCKET_ADDRESS: "0.0.0.0"
      ADMIN_ROOMS_ONLY: false
    working_dir: /builds/worker/checkout
    command: sh -c "watchexec -w lobby -w Cargo.toml -w Cargo.lock -w Rocket.toml -w apwm -w wq -r cargo run"
    user: "${USER_ID}:${GID}"
    depends_on:
      vol-setup:
        condition: service_completed_successfully
      valkey:
        condition: service_healthy
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"
    healthcheck:
      test: curl -f http://127.0.0.1:8000/health
      interval: 5s
      timeout: 1s
      retries: 100
      start_period: 1s

  yaml-checker:
    build:
      dockerfile: taskcluster/docker/ap-worker/Dockerfile
      context: .
      args:
        SRC: /
        DOCKER_SRC: taskcluster/docker/ap-worker/
    volumes:
      - ./ap-worker:/ap/ap-worker/
      - ./tmp/apworlds_index:/ap/index
    working_dir: /ap/archipelago
    user: "${USER_ID}:${GID}"
    environment:
      LOBBY_ROOT_URL: http://lobby:8000
      YAML_VALIDATION_QUEUE_TOKEN: changeme
    command: watchexec -w /ap/ap-worker -r /ap/archipelago/.venv/bin/python3 check_wq.py /ap/supported_worlds /ap/index/worlds/
    depends_on:
      lobby:
        condition: service_healthy

  generator:
    build:
      dockerfile: taskcluster/docker/ap-worker/Dockerfile
      context: .
      args:
        SRC: /
        DOCKER_SRC: taskcluster/docker/ap-worker/
    volumes:
      - ./ap-worker:/ap/ap-worker/
      - ./tmp/apworlds_index:/ap/index
      - ./tmp/gen-output:/ap/builds-output
    working_dir: /ap/archipelago
    user: "${USER_ID}:${GID}"
    environment:
      LOBBY_ROOT_URL: http://lobby:8000
      GENERATION_QUEUE_TOKEN: changeme
      GENERATOR_OUTPUT_DIR: /ap/builds-output
      LOBBY_API_KEY: changeme
    command: watchexec -w /ap/ap-worker -r /ap/archipelago/.venv/bin/python3 gen_wq.py /ap/supported_worlds /ap/index/worlds/
    depends_on:
      lobby:
        condition: service_healthy

  option-generator:
    build:
      dockerfile: taskcluster/docker/ap-worker/Dockerfile
      context: .
      args:
        SRC: /
        DOCKER_SRC: taskcluster/docker/ap-worker/
    volumes:
      - ./ap-worker:/ap/ap-worker/
      - ./tmp/apworlds_index:/ap/index
    working_dir: /ap/archipelago
    user: "${USER_ID}:${GID}"
    environment:
      LOBBY_ROOT_URL: http://lobby:8000
      OPTIONS_GEN_QUEUE_TOKEN: changeme
    command: watchexec -w /ap/ap-worker -r /ap/archipelago/.venv/bin/python3 options_gen_wq.py /ap/supported_worlds /ap/index/worlds/
    depends_on:
      lobby:
        condition: service_healthy

  ap-webhost:
    build: ./Archipelago
    environment:
      ADMIN_API_KEY: "ap_changeme"
    ports:
      - "127.0.0.1:9888:9888"
    volumes:
      - ./data/ap/db:/app/db
      - ./data/ap/lttp-sprites:/app/data/sprites/alttp/remote
      - ./config.yaml:/app/config.yaml:ro

  apx:
    image: cosmtrek/air
    working_dir: /apx
    environment:
      LOBBY_ENABLED: true
      LOBBY_ROOT_URL: http://lobby:8000
      LOBBY_API_KEY: "changeme"
      NORMAL_PORT: "9002"
      REDUCED_PORT: "9003"
      APX_API_LISTENADDR: "0.0.0.0:9001"
      APX_API_KEY: "changeme"
      AP_ROOM_HOST: "ap-webhost"
      AP_API_ROOT: "http://ap-webhost:9888"
      AP_ADMIN_API_KEY: "ap_changeme"
      TLS_CERT_FILE: ""
      TLS_KEY_FILE: ""
      PASSWORDLESS: false
      LOKI_ENDPOINT: "http://loki:3100"
      GOEXPERIMENT: "jsonv2"
    env_file:
      - ./.env.community
    ports:
      - "127.0.0.1:9005:9005"
      - "127.0.0.1:9004:9004"
      - "127.0.0.1:9003:9003"
      - "127.0.0.1:9002:9002"
      - "127.0.0.1:9001:9001"
    volumes:
      - ./apx:/apx

  community-ap-tools:
    build:
      dockerfile: community-ap-tools/Dockerfile
      context: .
      args:
        SRC: /
        DOCKER_SRC: community-ap-tools/
    environment:
      LOBBY_ROOT_URL: "http://lobby:8000"
      LOBBY_PUBLIC_URL: "http://localhost:8000" # Used for lobby links in HTML pages
      LOBBY_API_KEY: "changeme"
      AP_ROOM_HOST: "ap-webhost"
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/aplobby
      AP_ADMIN_API_KEY: "ap_changeme"
      APX_API_ROOT: "http://apx:9001"
      APX_API_KEY: "changeme"
      ROCKET_SECRET_KEY: "changemechangemechangemechangemechangeme1234"
      ROCKET_PORT: "8010"
      ROCKET_ADDRESS: "0.0.0.0"
    volumes:
      - ./Rocket.community.toml:/app/Rocket.toml:ro
    env_file:
      - ./.env.community
    ports:
      - "127.0.0.1:8010:8010"
    depends_on:
      postgres:
        condition: service_healthy

  prometheus:
    image: prom/prometheus
    environment:
      APX_API_KEY: "changeme"
    # Cursed, I know, but it works
    entrypoint: >
      sh -c "mkdir -p /etc/prometheus/secrets &&
             echo -n $$APX_API_KEY > /etc/prometheus/secrets/apx-api-key.txt &&
             /bin/prometheus --config.file=/etc/prometheus/prometheus.yaml"
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml:ro
      - ./data/prometheus/data:/prometheus

  loki:
    image: grafana/loki:3.0.0
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml:ro
      - ./data/loki:/loki
  
  grafana:
    image: grafana/grafana
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: grafana
    volumes:
      - ./data/grafana:/etc/grafana/provisioning/datasources