{
    "apx_ws_listenaddr": ":9002",
    "apx_ws_reduced_listenaddr": ":9003",
    "ap_room_host": "localhost",
    "ap_room_password": "",
    "lobby_enabled": false,
    "lobby_root_url": "",
    "lobby_room_id": "",
    "lobby_api_key": "",
    "apx_api_listen": ":9001",
    "apx_api_key": "changeme"
}